html {
    background-color: #F8F8FF;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.button{
    padding: 10px;
    background-color: #F8F8FF;
    /*font-weight: bold;*/
    font-size: 15px;
    margin-left:630px;
}

